.contact-us-desc {
  text-align: center;
  margin: 0px auto 50px;
}

.contact-methods {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;

  div {
    min-height: 200px;
    text-align: center;
    width: 250px;
  }

  h5 {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 10px auto 0;
  }

  p {
    font-size: 1.125rem;
    margin: 10px auto 0;
  }

  svg {
    height: 4rem;
    width: 4rem;
  }
}
