.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.sort {
  display: flex;

  .collection-sort {
    display: flex;
    flex-direction: column;
  }
}

.filter-wrapper {
  margin: 20px 15px 0px;
  text-align: center;

  .filter{

    label {
      margin: 5px;
    }
  }
}
